In [3]:
x = np.array([1, 2, 3])
y = np.array([3, 5, 7])

In [21]:
import numpy as np
def euclidean(a, b):
  squared = np.square(a - b)
  distance = np.sqrt(np.sum(squared))
  return distance

euclidean(x, y)

5.385164807134504

In [23]:
import pandas as pd
evs_cn = ('Make', 'Drive', 'Range', 'Battery_kwH', 'PeakPower_kW', 'MPGe', '0-60')
evs = pd.read_csv('evs.csv', names = evs_cn)
evs

             Make Drive  Range  Battery_kwH  PeakPower_kW  MPGe  0-60
0         Ioniq 5   AWD    256         77.4           239    98   5.0
1   Tesla Model 3   AWD    315         80.0           298   113   3.1
2      Rivian R1T   AWD    316        135.0           562    70   3.0
3         VW ID.4   RWD    260         82.0           260   107   7.7
4  F150 Lightning   AWD    230        110.0           318    68   4.0

What is the difference between an lazy learner and a eager learner? What is the kNN algorithm?

**The difference between is that lazy learner does not build a model beforehand and an eager learner builds an a model of the relationships between the features and the labels**